<form action="<%= cats_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>
  <br />
  <label>Birthdate
    <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  </label>
  <br />
  <label>Sex
    <br>
    <input type="radio" name="cat[sex]" value="M"> Male
    <br>
    <input type="radio" name="cat[sex]" value="F"> Female
  </label>
  <br />
  <label>Color
    <select name="cat[color]" value="<%= @cat.color %>">
      <option>-- select a color --</option>
      <% @cat.colors.each do |color| %>
        <option value="<%= color %>"><%= color %></option>
      <% end %>
    </select>
  </label>
  <br />
  <label>Description
    <br>
    <textarea name="cat[description]" rows="8" cols="80" value="<%= @cat.description %>"></textarea>
  </label>
  <br />
  <input type="submit" name="" value="Create New Cat">
</form>
